%% -*- mode: erlang -*-

{mode, max}.
%% Remember: actual rate = mode rate (below) * concurrent (below)
%%
%% SLF: Hrm, this doesn't seem to play very well with Hibari client
%% protocol timeouts??  Or I just need to experiment more with
%% changing both the per-generator rate and the # of concurrent
%% generators?
%{mode, {rate, 8}}.

%{duration, 15}. % min
{duration, infinity}. % min

{concurrent, 10}.                                % 5 is low for Hibari

{driver, jubatus_bench_driver}.

{code_paths, [
	      "/home/kuenishi/src/jubatus/attic/jubatus_bench",
	      "/home/kuenishi/src/jubatus/attic/jubatus_bench/deps/jubatus/ebin",
	      "/home/kuenishi/src/jubatus/attic/jubatus_bench/deps/erl_msgpack/ebin"
             ]}.

{key_generator, {int_to_str, {uniform_int, 65536}}}.

{value_generator, {fixed_bin, 128}}.
%{value_generator, {fixed_bin, 10000}}.

%% Default is [{get,4}, {put,4}, {delete, 1}] which means that out of
%% every 9 operations, 'get' will be called four times, 'put' will
%% called four times, and 'delete' will be called once, on average.

{operations, [{get,4}, {put,4}, {delete, 0}]}.

{host, localhost}.
{port, 9199}.
